body{
    background: rgb(130, 0, 196, 0.6) ;
    background-image:linear-gradient(0deg, rgba(130, 0, 196, 0.9) 50%, rgb(101, 28, 150, 0.9) 100%) , url(images/texture.jpg);
    color: #53d8b7;
    font-family: 'Space Grotesk', sans-serif;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    zoom: 200%;
}
.photo{
    border-radius: 25px;
    border: 3px solid #9790ff;
    white-space: nowrap;
}
.menssagem{
    font-family: 'Space Grotesk', sans-serif;
    font-style: italic;
    font-size: 15px;
}
#resume{
    margin-top: 10px;
    margin-bottom: 50px;
}
h3 {
    color: #3be286;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 10px;
}
li{
    font-family: 'Space Grotesk', sans-serif;
    color: #bfe4ff;
}
.menuLinha.header{
    background: rgb(74, 6, 138);
    background: radial-gradient(circle, rgb(74, 6, 138) 0%, rgba(63,27,130,1) 100%);
}
.menuLinha{
        list-style: none;
        margin-left: 220px;
}
a:hover{
    background-color: rgb(124, 8, 231);
}
.botao{
    font: bold 12px/24px arial, helvetica, sans-serif;	
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(64, 5, 119);
    font-size: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    text-align:center;
    white-space: nowrap;
}

.indiceExperiencias{
    margin-bottom: 50px;
}
.tituloIndice{
    margin-bottom: 40px;
}
.indiceHabilidades{
    margin-bottom: 70px;
}
.tituloIndice-hab{
    margin-bottom: 40px;
}