body{
    background-image:linear-gradient(0deg, rgba(145, 1, 218, 0.8) 50%, rgba(90, 22, 136, 0.8) 100%), url('images/texture.jpg');/* adicionar um fundo com gardiente e textura*/
    background-size: cover; /* para cobrir a tela inteira */
    background-attachment: fixed;
    color: #53d8b7;
    font-family: 'Space Grotesk', sans-serif;
    /* para centralizar elementos no centro do body */
    max-width: 500px;
    margin: 0 auto;
    /* para aumentar o tamanho */
    zoom: 140%;
}
.photo{
    border-radius: 16px;
    border: 1px solid  rgb(214, 152, 255);
}
.menssagem{
    font-family: 'Space Grotesk', sans-serif;
    font-style: italic;
    font-size: 15px;
}
#resume{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 15px;
    /* text-align: center; */
}
h3 {
    color: #3be286;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 10px;
}
li{
    font-family: 'Space Grotesk', sans-serif;
    color: #bfe4ff;
}
.menuLinha{
    font-size: 15px;
    list-style: none;
    margin-left: 220px;
    text-decoration: none;
}
.botao{
    color: #ffffff;
    /* background-color: rgb(64, 5, 119); */
    border-radius: 5px;
    padding: 2px 5px;
}
a:hover{
    background-color: rgb(124, 8, 231);
}
.indiceExperiencias{
    margin-bottom: 42px;
    font-size: 12px;
}
.tituloIndice{
    margin-bottom: 40px;
    text-align: center;
}
.indiceHabilidades{
    margin-bottom: 70px;
    font-size: 12px;
}
.tituloIndice-hab{
    text-align: center;
    margin-bottom: 40px;
}
