
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
/* nav bar */
#nav-bar{
    background-color: #343a40;
    list-style: none;
}
#nav-bar ul li{
    display: inline;
}
#nav-bar ul li a {
    color: #fff;
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    text-decoration: none;
    display:inline-block;
    font-weight: bold;
    transition: background .2s;
}
#nav-bar ul a:hover{
    background-color: #adb5bd;
}
.left-button{
    /* background-color: rgb(0, 0, 0); */
    float: right;
    margin: 0 0 0 16px;
}
h1.outline, .outline {
    display: none;
  }
/* secao Header */
#photo{
    width: 188px;
    display: block;
    margin: 0 auto 64px;
    border-radius: 25px;
    border: 3px solid #FFE2BA;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
#header{
    background:linear-gradient(30deg, #7381fffa 50%, #2f2a49 100%), url(./images/Textura_fundo.png) ;
    background-attachment: fixed;
    padding-top: 34px;
    padding-bottom: 24px;
}
#header #desc-title{
    text-align: center;
    margin: 34px;
    font-size: 64px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}
.contacts ul{
    list-style: none;
    /* border: 2px solid black; */
    text-align: center;
}
.contacts ul li{
    display: inline;
}
.contacts ul li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 32px;
    padding: 3px 3px;
    margin: 0 9px ;
}
.contacts ul li a:hover {
    background-color: #969ee7;;
    border-radius: 3px;
    transition: background .2s;
}
.github:hover {
    color: #495057;
    transition: background .2s;
}
.linkedin:hover {
    color: #0e76a8;
    transition: background .2s;
}
.email:hover {
    color: #dd1b1b;
    transition: background .2s;
}
/* secao aboutme */
#aboutme .title-about{
    text-align: center;
    margin: 32px;
    font-family: 'Lobster', cursive;
    font-size: 32px;
}
#aboutme .present{
    text-align: center;
    margin: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #495057;
    font-size: 22px;
}
/* secao spots */
.title-spots{
    text-align: center;
    margin: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #495057;
    font-size: 44px;
    padding: 8px;
}
#positive{
    color: rgb(0, 192, 0);
    margin: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
#negative{
    color: rgb(220, 0, 0);
    margin: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.table .itens-spots{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 230px;
}
.table .itens-spots .title-itens{
    margin: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #495057;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.table .itens-spots .list-spots .itens-list{
    margin: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #495057;
    font-size: 16px;
    text-align: center;
    list-style: none;
}
.negative-warning{
    text-align: center;
    margin: 64px auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(212, 235, 13);
    background-color: rgb(221, 0, 0);;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}
/* video secao */
#video-i-liked .video-title{
    text-align: center;
    margin: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #495057;
    font-size: 44px;
    padding: 8px;
}
#video-i-liked #video{
     margin:0 auto 100px;
    display: block;
}
#footer{
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #343a40;
    border: 1px solid black;
    font-family: 'Comic Neue', cursive;
    padding: 10px;
}


